#macro(layout $title)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>$title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Github Profile Summary is a GitHub visualization tool written in Kotlin">
        <meta property="og:title" content="Github Profile Summary - Visualize your GitHub profile">
        <meta property="og:site_name" content="Github Profile Summary">
        <meta property="og:url" content="https://github-profile-summary.com">
        <meta property="og:description" content="Github Profile Summary is a GitHub visualization tool written in Kotlin">
        <meta property="og:image" content="https://user-images.githubusercontent.com/1521451/33957306-8e1d8af0-e041-11e7-8e04-3de9e32868ba.PNG">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/load-awesome@1.1.0/css/square-jelly-box.min.css">
        <script>#include("/static/charts.js")</script>
        <style>#include("/static/style.css")</style>
        <style>#include("/static/summary.css")</style>
        <link rel="shortcut icon" href="#include("/static/favicon.base64")">
    </head>
    <body data-user-id="$user">
        #include("/static/gtm.html")
        <main class="content">
            $bodyContent
        </main>
        <footer>
            GitHub profile summary is built with <a href="https://javalin.io">javalin</a> <small>(kotlin web framework)</small> and
            <a href="http://www.chartjs.org/docs/latest/" target="_blank">chart.js</a> <small>(visualization)</small>.
            Source is on <a href="https://github.com/tipsy/github-profile-summary" target="_blank">GitHub</a>.
        </footer>
        <span class="rate-limit">
            <span class="msg">The app is currently rate-limited<br>Please check back later</span>
            <span class="count"><span id="rate-limit-count"></span> requests left <br> before rate-limit</span>
        </span>
        <script>
            (function () {
                let wsProtocol = window.location.protocol.indexOf("https") > -1 ? "wss" : "ws";
                let ws = new WebSocket(wsProtocol + "://" + location.hostname + ":" + location.port + "/rate-limit-status");
                ws.onmessage = msg => {
                    document.querySelector(".rate-limit").classList.toggle("rate-limited", msg.data === "0");
                    document.getElementById("rate-limit-count").innerHTML = msg.data;
                }
            })();
        </script>
    </body>
</html>
#end
