#parse("/layout.vm")
#@layout("Github Profile Summary - Visualize your GitHub profile")
<div class="search-screen">
    <h1>Enter GitHub username</h1>
    <form>
        <input type="text" name="q" placeholder="ex. 'tipsy'" required>
    </form>
    #if($q != "")
        <h4>Couldn't build profile for <span class="search-term">$q</span></h4>
        <p>
            If you are <span class="search-term">$q</span>,
            please <a href="https://github.com/tipsy/github-profile-summary">star the repo</a> and try again.
            <br>
            <br>
            This is necessary because GitHub has a 5000req/hour rate-limit which would be <br>
            reached very quickly if you tried to analyze some of the bigger profiles on GitHub.
            <br>
            <br>
            If the app has been rate-limited (check lower right corner), please come back later<br>
            or build the app locally and use your own token
        </p>
    #end
</div>
<script>
    document.querySelector("input").focus();
</script>
#end
