#parse("/layout.vm")
#@layout("$user' GitHub profile summary")
<div id="vue" v-cloak>
    <div class="user-info">
        <img :src="user.avatarUrl" :alt="user.login" class="user-info__img">
        <div class="user-info__details">
            <div>
                <i class="fa fa-fw fa-user"></i>{{ user.login }}
                <small v-if="user.name">({{ user.name }})</small>
            </div>
            <div><i class="fa fa-fw fa-database"></i>{{ user.publicRepos }} public repos</div>
            <div><i class="fa fa-fw fa-clock-o"></i>Joined GitHub {{ moment(user.createdAt).fromNow() }}</div>
            <div v-if="user.email"><i class="fa fa-fw fa-envelope"></i> {{ user.email }}</div>
            <div v-if="user.company"><i class="fa fa-fw fa-building"></i>{{ user.company }}</div>
            <div><i class="fa fa-fw fa-external-link"></i><a :href="user.htmlUrl" target="_blank">View profile on GitHub</a></div>
        </div>
        <div class="chart-container commits-per-quarter">
            <canvas id="quarterCommitCount"></canvas>
        </div>
    </div>
    <div class="charts">
        <div class="chart-row">
            <div class="chart-container chart-container--third">
                <h2>Repos per Language</h2>
                <canvas id="langRepoCount"></canvas>
            </div>
            <div v-if="Math.max(...Object.values(data.repoStarCount)) > 0" class="chart-container chart-container--third">
                <h2>Stars per Language</h2>
                <canvas id="langStarCount"></canvas>
            </div>
            <div class="chart-container chart-container--third">
                <h2>Commits per Language</h2>
                <canvas id="langCommitCount"></canvas>
            </div>
        </div>
        <div class="chart-row">
            <div class="chart-container chart-container--half">
                <h2>Commits per Repo
                    <small v-if="Object.keys(data.repoCommitCount).length === 10">(top 10)</small>
                </h2>
                <canvas id="repoCommitCount"></canvas>
            </div>
            <div v-if="Object.keys(data.repoStarCount).length > 0" class="chart-container chart-container--half">
                <h2>Stars per Repo
                    <small v-if="Object.keys(data.repoStarCount).length == 10">(top 10)</small>
                </h2>
                <canvas id="repoStarCount"></canvas>
            </div>
        </div>
        <div class="social">
            <a class="social-btn" :href="twitterUrl" rel="nofollow" title="Share on Twitter"><i class="fa fa-fw fa-twitter"></i>Share on Twitter</a>
            <a class="social-btn" :href="facebookUrl" rel="nofollow" title="Share on Facebook"><i class="fa fa-fw fa-facebook"></i>Share on Facebook</a>
        </div>
    </div>
</div>
<div class="load-screen">
    <div class="la-square-jelly-box la-3x">
        <div></div>
        <div></div>
    </div>
    <h2>Analyzing GitHub profile</h2>
</div>
<script>
    (function () {
        let userId = document.body.getAttribute("data-user-id");
        let loadScreen = document.querySelector(".load-screen");
        let loadScreenTimeout = setTimeout(showLoadScreen, 500);
        axios.get("/api/user/" + userId).then(function (response) {
            cancelOrHideLoadScreen();
            new Vue({
                el: "#vue",
                data: {
                    data: response.data,
                    user: response.data.user
                },
                computed: {
                    profileUrl: function () {
                        return "https://github-profile-summary.com/user/" + this.user.login;
                    },
                    shareText: function () {
                        return this.user.login + "'s GitHub profile - Visualized:";
                    },
                    twitterUrl: function () {
                        return "https://twitter.com/intent/tweet?url=" + this.profileUrl + "&text=" + this.shareText + "&via=javalin_io&related=javalin_io";
                    },
                    facebookUrl: function () {
                        return "https://facebook.com/sharer.php?u=" + this.profileUrl + "&quote=" + this.shareText
                    }
                },
                mounted: function () {
                    lineChart("quarterCommitCount", response.data);
                    donutChart("langRepoCount", response.data);
                    donutChart("langStarCount", response.data);
                    donutChart("langCommitCount", response.data);
                    donutChart("repoCommitCount", response.data);
                    donutChart("repoStarCount", response.data);
                }
            });
        }).catch(function (error) {
            cancelOrHideLoadScreen();
            document.querySelector(".content").insertAdjacentHTML("beforeEnd", error.response.status === 404
                    ? "<h2>User not found ...</h2><p>This should only happen when running locally in 'unrestricted' mode.</p>"
                    : "<h2>Something went wrong ...</h2><p>This usually means the app has been rate-limited. Check the lower right corner.</p>"
            );
        });

        function showLoadScreen() {
            loadScreen.style.opacity = "1";
            setTimeout(() => loadScreen.insertAdjacentHTML("beforeEnd", "<h3>This could take some time ...</h3>"), 2500);
            setTimeout(() => loadScreen.insertAdjacentHTML("beforeEnd", "<h3>This user has a lot of repos!</h3>"), 7500);
        }

        function cancelOrHideLoadScreen() {
            clearTimeout(loadScreenTimeout);
            loadScreen.style.display = "none";
        }
    })()
</script>
#end

