[v-cloak] {
    display: none;
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    outline: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

a {
    color: #0082c8;
    text-decoration: none;
}

html {
    font-size: 18px;
    background: #eee9df;
    padding: 60px 30px;
    overflow-y: scroll;
}

body {
    margin: 0;
}

footer {
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: #eee9df;
}

footer a {
    font-weight: 700;
}

.search-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    user-select: none;
}

.search-term {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.025);
    padding: 1px 2px;
    font-family: monospace;
    font-size: 80%;
}

input {
    height: 40px;
    font-size: 18px;
    padding: 0 15px;
    border: 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.rate-limit {
    position: fixed;
    right: 20px;
    bottom: 60px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.rate-limited {
    color: #e60000;
}

.rate-limit .msg {
    display: none;
}

.rate-limited .msg {
    display: block;
}

.rate-limited .count {
    display: none;
}

#rate-limit-count {
    font-weight: 700;
}

@media (max-width: 480px) {
    .rate-limit {
        padding: 5px 8px;
        font-size: 13px;
        bottom: 0;
        right: 0;
    }
}
