.load-screen {
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.la-square-jelly-box {
    color: #38abe2;
}

.user-info {
    display: flex;
    padding-bottom: 40px;
}

.user-info__img {
    align-self: center;
    border-radius: 3px;
    width: 175px;
    margin-right: 20px;
}

.user-info__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

i.fa {
    color: rgba(0, 0, 0, 0.67);
    margin-right: 5px;
}

.commits-per-quarter {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

.commits-per-quarter::after {
    content: "Commits per quarter";
    position: absolute;
    right: 35px;
    bottom: -15px;
    font-size: 13px;
}

.charts,
.chart-row {
    overflow: auto;
}

.chart-row {
    padding-bottom: 40px;
}

.chart-row {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
}

.chart-container {
    position: relative;
}

.chart-container--third {
    width: 33%;
}

.chart-container--half {
    width: 50%;
}

@media (max-width: 900px) {
    .chart-container--third,
    .chart-container--half {
        width: 100%;
    }

    .chart-row {
        display: block;
    }

    .commits-per-quarter {
        display: none;
    }
}

.social {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, .04);
    font-size: 14px;
    text-align: center;
}

.social a {
    white-space: nowrap;
    margin: 5px 8px;
    display: inline-block;
}

.social a i {
    color: #0082c8;
}

@media (max-width: 480px) {
    .user-info__img,
    footer {
        display: none;
    }
    .social {
        position: static;
        transform: none;
        text-align: center;
    }
}
